{% extends 'main.html' %}

{% block content %}

        <main class="formPage my-xl">
            <div class="content-box">
                <div class="formWrapper">
                    <h3>Password reset sent</h3>
                    <p>We have emailed to you</p>
                    <br>
                    <p>If you don't make sure you have entered correct email address</p>
                
                    <br>
    
                </div>
            </div>
        </main>
    {% endblock content %}
    